 <!-- footer  -->
 <footer class="text-center text-lg-start" style="background-color: #A49C7F;">
    <!-- Grid container -->
    <div class="container-fluid">
        <!-- Section: Links -->
        <section>
            <!--Grid row-->
            <div class="row px-3">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 pt-4">
                    <h5 class="text-uppercase text-dark">Brand Name</h5>
                    <p class="pt-4 fw-medium text-dark">
                        Transforming manuscripts into polished
                        works, meticulously formatting each
                        detail for an engaging reader
                        experience.
                    </p>
                </div>

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 hover_link d-flex justify-content-center">


                    <ul class="list-unstyled mb-0 fw-medium" style="line-height: 35px; font-size: 18px;">
                        <h3 class="text-uppercase text-dark">Company</h3>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Portfolio</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Prosses</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Pricing FAQ</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 d-flex justify-content-center hover_link">

                    <ul class="list-unstyled mb-0 fw-medium" style="line-height: 35px; font-size: 18px;">
                        <h3 class="text-uppercase text-dark">Services</h3>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Portfolio</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Prosses</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Pricing FAQ</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark text-decoration-none">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center py-2 bg-dark">
        <h5 class="text-white">© Copyright 2024 All rights reserved.</h5>
    </div>
    <!-- Copyright -->
</footer>
<!-- FOOTER ENDS -->