{% load static %}
  <!-- header -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid px-3">
      <a class="navbar-brand" href="index.html"><img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid logo" height="200px" width="200px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="fa-solid fa-bars text-white"></i></span></button>
      <div class="collapse navbar-collapse px-4" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{%url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'service'%}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'blog'%}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'price'%}">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'contact'%}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end header -->

