{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Book-reader | www.bookreader.com</title>
{% endblock %}
{% block content %}
  {% include 'includes/header_footer/header.html' %}

  <div class="container py-5">
    <h1 class="text-center">Choose the plan that fits for your team</h1>
    <p class="text-center mb-5">Deploy your sites to global infrastructure in seconds. No credit card required</p>

    <div class="pricing">
      <div class="plan">
        <h2>Dev</h2>
        <div class="price">FREE</div>
        <ul class="features">
          <li>
            <i class="fas fa-check-circle"></i> Unlimited Book's
          </li>
          <li>
            <i class="fas fa-check-circle"></i> 1 User
          </li>
          <li>
            <i class="fas fa-check-circle"></i> 50Hr Timing
          </li>
          <li>
            <i class="fas fa-times-circle"></i> No ad's free
          </li>
          <li>
            <i class="fas fa-times-circle"></i> No priority support
          </li>
        </ul>
        <a href="{% url 'contact' %}" style="text-decoration: none; color: white;"><button>contact us</button></a>
      </div>
      <div class="plan popular">
        <span>Most Popular</span>
        <h2>Pro</h2>
        <div class="price">$10/month</div>
        <ul class="features">
          <li>
            <i class="fas fa-check-circle"></i> Unlimited Book's
          </li>
          <li>
            <i class="fas fa-check-circle"></i> 5 Users
          </li>
          <li>
            <i class="fas fa-check-circle"></i> 750Hr Timing
          </li>
          <li>
            <i class="fas fa-check-circle"></i> Continuous Watchig ad's free
          </li>
          <li>
            <i class="fas fa-check-circle"></i> Email Support
          </li>
        </ul>
        <button>Buy Now</button>
      </div>
      <div class="plan">
        <h2>Enterprise</h2>
        <div class="price">Custom Pricing</div>
        <ul class="features">
          <li>
            <i class="fas fa-check-circle"></i> Unlimited Book's, Audio
          </li>
          <li>
            <i class="fas fa-check-circle"></i> Unlimited Users
          </li>
          <li>
            <i class="fas fa-check-circle"></i> Unlimited Timing
          </li>
          <li>
            <i class="fas fa-check-circle"></i> Continuous Watchig ad's free
          </li>
          <li>
            <i class="fas fa-check-circle"></i> 24/7 Email support
          </li>
        </ul>
        <a href="{% url 'contact' %}" style="text-decoration: none; color: white;"><button>contact us</button></a>
      </div>
    </div>
  </div>

  {% include 'includes/header_footer/footer.html' %}
{% endblock %}
