{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Book-reader | www.bookreader.com</title>
{% endblock title %}
{% block content %}
  {% include 'includes/header_footer/header.html' %}

<div class="main container-fluid p-0 m-0">
  <!-- SERVICES SECTION -->
  <div class="container-fluid pb-5" style="background-image: url({% static  'img/bg1.png' %}); background-size: cover;">
    <h1 class="text-center pt-5">Our services</h1>
    <p class="text-center fw-semibold">
      Your book’s cover design and interior layout have the ability to either draw readers into your story or
      <br />
      turn them away. We have been providing high-end book design and layout services to authors looking <br />
      for personalized book covers.
    </p>

    <div class="container d-lg-flex mt-md-4 justify-content-between">
      <div class="card rounded-4 mt-2" style="box-shadow: rgba(0, 0, 0, 0.15) 5px 4px 3.2px;" data-aos="fade-up" data-aos-duration="1000">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <img src="{% static 'img/down-3.jpeg' %}" alt="" class="me-3" style="width: 60px;" />
          <img src="{% static 'img/down-15.jpeg' %}" alt="" class="" style="width: 70px; position: absolute;" />
          <img src="{% static 'img/down-5.jpeg' %}" alt="" class="ms-3" style="width: 60px;" />
        </div>
        <div class="card-body">
          <h2 class="fw-bold text-center pt-3">Cover Design</h2>
          <p class="text-center fw-semibold pt-3">
            Welcome to our premier book design and <br />
            printing formatting service, where every <br />
            page is crafted with precision and care. Our <br />
            team of professionals is dedicated to <br />
            ensuring that your book not only looks <br />
            perfect but also captures the essence of <br />
            your vision.
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn text-white fs-5 px-4 rounded-5" style="background-color: #BDAA63;">Request a quote</button>
          </div>
        </div>
      </div>
      <div class="card rounded-4 mt-2" style=" box-shadow: rgba(0, 0, 0, 0.15) 5px 4px 3.2px;" data-aos="fade-up" data-aos-duration="1500">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <img src="{% static 'img/down-7.jpeg' %}" alt="" class="me-3" style="width: 60px;" />
          <img src="{% static 'img/down-10.jpeg' %}" alt="" class="" style="width: 70px; height: 100px; position: absolute;" />
          <img src="{% static 'img/down-2.jpeg' %}" alt="" class="ms-3" style="width: 60px;" />
        </div>
        <div class="card-body">
          <h2 class="fw-bold text-center pt-3">Book Typesetting</h2>
          <p class="text-center fw-semibold pt-3">
            Welcome to our premier book design and <br />
            printing formatting service, where every <br />
            page is crafted with precision and care. Our <br />
            team of professionals is dedicated to <br />
            ensuring that your book not only looks <br />
            perfect but also captures the essence of <br />
            your vision.
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn text-white fs-5 px-4 rounded-5" style="background-color: #BDAA63;">Request a quote</button>
          </div>
        </div>
      </div>
      <div class="card rounded-4 mt-2" style="box-shadow: rgba(0, 0, 0, 0.15) 5px 4px 3.2px;" data-aos="fade-up" data-aos-duration="1000">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <img src="{% static 'img/down-6.jpeg' %}" alt="" class="me-3" style="width: 60px;" />
          <img src="{% static 'img/down-1.jpeg' %}" alt="" class="" style="width: 70px; height: 100px; position: absolute;" />
          <img src="{% static 'img/down-2.jpeg' %}" alt="" class="ms-3" style="width: 60px;" />
        </div>
        <div class="card-body pb-4">
          <h2 class="text-center fw-bold pt-3">EBook Formatting</h2>
          <p class="text-center fw-semibold pt-3">
            Transform your manuscript into a polished <br />
            masterpiece with our Epub & Kindle <br />
            Formatting service. From cover to cover, we <br />
            meticulously craft each page to ensure <br />
            seamless readability and visual appeal. <br />
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn text-white fs-5 px-4 mt-lg-5 rounded-5" style="background-color: #BDAA63;">Request a quote</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-lg-flex mt-md-4 justify-content-between">

      <div class="card rounded-4 mt-2" style="box-shadow: rgba(0, 0, 0, 0.15) 5px 4px 3.2px;" data-aos="fade-up" data-aos-duration="1000">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <img src="{% static 'img/down-3.jpeg' %}" alt="" class="me-3" style="width: 60px;" />
          <img src="{% static 'img/down-15.jpeg' %}" alt="" class="" style="width: 70px; position: absolute;" />
          <img src="{% static 'img/down-5.jpeg' %}" alt="" class="ms-3" style="width: 60px;" />
        </div>
        <div class="card-body">
          <h2 class="fw-bold text-center pt-3">Cover Design</h2>
          <p class="text-center fw-semibold pt-3">
            Welcome to our premier book design and <br />
            printing formatting service, where every <br />
            page is crafted with precision and care. Our <br />
            team of professionals is dedicated to <br />
            ensuring that your book not only looks <br />
            perfect but also captures the essence of <br />
            your vision.
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn text-white fs-5 px-4 rounded-5" style="background-color: #BDAA63;">Request a quote</button>
          </div>
        </div>
      </div>
      <div class="card rounded-4 mt-2" style=" box-shadow: rgba(0, 0, 0, 0.15) 5px 4px 3.2px;" data-aos="fade-up" data-aos-duration="1500">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <img src="{% static 'img/down-7.jpeg' %}" alt="" class="me-3" style="width: 60px;" />
          <img src="{% static 'img/down-10.jpeg' %}" alt="" class="" style="width: 70px; height: 100px; position: absolute;" />
          <img src="{% static 'img/down-2.jpeg' %}" alt="" class="ms-3" style="width: 60px;" />
        </div>
        <div class="card-body">
          <h2 class="fw-bold text-center pt-3">Book Typesetting</h2>
          <p class="text-center fw-semibold pt-3">
            Welcome to our premier book design and <br />
            printing formatting service, where every <br />
            page is crafted with precision and care. Our <br />
            team of professionals is dedicated to <br />
            ensuring that your book not only looks <br />
            perfect but also captures the essence of <br />
            your vision.
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn text-white fs-5 px-4 rounded-5" style="background-color: #BDAA63;">Request a quote</button>
          </div>
        </div>
      </div>
      <div class="card rounded-4 mt-2" style="box-shadow: rgba(0, 0, 0, 0.15) 5px 4px 3.2px;" data-aos="fade-up" data-aos-duration="1000">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <img src="{% static 'img/down-6.jpeg' %}" alt="" class="me-3" style="width: 60px;" />
          <img src="{% static 'img/down-1.jpeg' %}" alt="" class="" style="width: 70px; height: 100px; position: absolute;" />
          <img src="{% static 'img/down-2.jpeg' %}" alt="" class="ms-3" style="width: 60px;" />
        </div>
        <div class="card-body pb-4">
          <h2 class="text-center fw-bold pt-3">EBook Formatting</h2>
          <p class="text-center fw-semibold pt-3">
            Transform your manuscript into a polished <br />
            masterpiece with our Epub & Kindle <br />
            Formatting service. From cover to cover, we <br />
            meticulously craft each page to ensure <br />
            seamless readability and visual appeal. <br />
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn text-white fs-5 px-4 mt-lg-5 rounded-5" style="background-color: #BDAA63;">Request a quote</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SERVICES SECTION ENDS -->

  <!-- swiper slider vertical -->
  <div class="page-6 my-5">
    <div class="container">
      <div class="row">
        <h1 class="fw-bold text-center mt-5" style="color: var(--font-color);">Authors Love Us</h1>
        <p class="text-center fw-semibold fs-6 px-5">We are proud to have some of the happiest customers in the business. Take a look at some of the feedback our customers have left for us.</p>
        <div class="col-lg-6 mt-5">
          <div class="px-5">
            <img src="{% static 'img/books.jpg' %}" alt="img" class="img-fluid" data-aos="zoom-in" data-aos-duration="1000" />
          </div>
        </div>

        <div class="col-lg-6 mt-5">
          <!-- Swiper -->
          <div class="swiper vertical_slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="container">
                  <h2 class="text-start fw-bold">Joseph O. Edwards</h2>
                  <p class="text-start">Poet, Lyricist and Public speaker who resides in Canada</p>
                  <h4 class="text-start pt-3 fw-semibold">Thanks eBook designer, the book was published with the new cover when I checked this morning. I will be working with you on more projects soon. You are fast and precise. I like that you are a master at what you do. Keep up the great work in making authors dreams come to life one paper in proper measurements.</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="container">
                  <h2 class="text-start fw-bold">Joseph O. Edwards</h2>
                  <p class="text-start">Poet, Lyricist and Public speaker who resides in Canada</p>
                  <h4 class="text-start pt-3 fw-semibold">Thanks eBook designer, the book was published with the new cover when I checked this morning. I will be working with you on more projects soon. You are fast and precise. I like that you are a master at what you do. Keep up the great work in making authors dreams come to life one paper in proper measurements.</h4>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="container">
                  <h2 class="text-start fw-bold">Joseph O. Edwards</h2>
                  <p class="text-start">Poet, Lyricist and Public speaker who resides in Canada</p>
                  <h4 class="text-start pt-3 fw-semibold">Thanks eBook designer, the book was published with the new cover when I checked this morning. I will be working with you on more projects soon. You are fast and precise. I like that you are a master at what you do. Keep up the great work in making authors dreams come to life one paper in proper measurements.</h4>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- swiper slider vertical -->

  <!-- sliedr logi -->
  <div class="page-7">
    <div class="swiper sliedr">
      <div class="swiper-wrapper align-items-center justify-content-center">
        <div class="swiper-slide">
          <div class="card-slide px-3" style="width: 20rem;">
            <img class="card-img-center" src="{% static 'img/amazone_kindle.png' %}" alt="Card image" />
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-slide px-3" style="width: 20rem;">
            <img class="card-img-center img-fluid" src="{% static 'img/draft.png' %}" alt="Card image" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-slide px-3" style="width: 20rem;">
            <img class="card-img-center" src="{% static 'img/ingram-1.png' %}" alt="Card image" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-slide px-3" style="width: 20rem;">
            <img class="card-img-center" src="{% static 'img/draft.png' %}" alt="Card image" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-slide px-3" style="width: 20rem;">
            <img class="card-img-center" src="{% static 'img/amazone_kindle.png' %}" alt="Card image" />
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- swiper slider logo -->
</div>



{% include 'includes/header_footer/footer.html' %}
{% endblock content %}
